used = 1

leben = 100
gold = 100

itemDB0 = 1
itemI0 = 0

itemDB1 = 2
itemI1 = 1

itemDB2 = 3
itemI2 = 1

itemDB3 = 3
itemI3 = 2

itemDB4 = 1
itemI4 = 6

itemDB5 = 2
itemI5 = 0

itemDB6 = 1
itemI6 = 3

itemDB7 = 3
itemI7 = 3


equip0 = 0
equip1 = 5
equip2 = -1
equip3 = -1

playerx = 100
playery = 200

