used = 1

leben = 100
gold = 9656
defense = 0

itemDB0 = 1
itemI0 = 0

itemDB1 = 2
itemI1 = 0

itemDB2 = 2
itemI2 = 3

itemDB3 = 0
itemI3 = 0

itemDB4 = 0
itemI4 = 0

itemDB5 = 0
itemI5 = 0

itemDB6 = 0
itemI6 = 0

itemDB7 = 2
itemI7 = 1


equip0 = 0
equip1 = -1
equip2 = -1
equip3 = -1

monster0 = 0
monster1 = 0
monster2 = 0
monster3 = 0
monster4 = 0
monster5 = 0


playerx = 100
playery = 200
kraft = 12
