used = 1

leben = 100
gold = 100

itemDB0 = 2
itemI0 = 1

itemDB1 = 0
itemI1 = 0

itemDB2 = 3
itemI2 = 2

itemDB3 = 3
itemI3 = 1

itemDB4 = 1
itemI4 = 6

itemDB5 = 1
itemI5 = 0

itemDB6 = 1
itemI6 = 3

itemDB7 = 3
itemI7 = 3


equip0 = -1
equip1 = -1
equip2 = 2
equip3 = -1

playerx = 100
playery = 200

